.signup-container {
    position: relative;
    width: 100vw;
}

.content-signup {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 15vh 85vh;
}

.body-signup {
    gap: 1rem;
    >button {
        padding: 0.5rem 1rem;
        height: 2rem;
        background: #e50914;
        border: none;
        color: white;
        cursor: pointer;
        border-radius: 0.2rem;
        font-weight: bolder;
        font-size: 1.05rem;
    }
}

.text-signup {
    gap: 1rem;
    text-align: center;
    font-size: 2rem;
    
    >h1 {
        padding: 0 25rem;
    }
}

.form-signup {
    display: grid;
    width: 60%;
    
    >input {
        color: black;
        border: none;
        padding: 1.5rem;
        font-size: 1.2rem;
        border: 1px solid black;
                
    }
    >input:focus {
        outline: none;
    }
    
    >button {
        padding: 0.5rem 1rem;
        margin: auto 0 auto;
        height: 2rem;
        background: #e50914;
        border: none;
        color: white;
        cursor: pointer;
        font-weight: bolder;
        font-size: 1.05rem;
    }
}